:root {
  --component-background: #1e1f24;
  --body-background: #17181c;
  --border: #2f3238;
  --itemBg: #27292f;
  --grayText: #c3c5c7;
  --navLabelBg: #33353d;
  --activeGreen: #00ff15;
  --logoBlue: #2a86ff;

  --white: #fff;
}
