.realInputForm {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba($color: #000000, $alpha: 0.5);
  z-index: 1000;

  .inputFormDiv {
    width: clamp(300px, 85%, 600px);
    background-color: var(--body-background);
    margin: 100px auto;
    border-radius: 10px;
    border: 2px solid var(--border);
    padding: 20px;

    @media (max-width: 600px) {
      margin: 10px auto;
      overflow-y: scroll;
    }

    textarea {
      width: 100%;
      height: 150px;
      background-color: var(--component-background);
      border: none;
      padding: 10px;
      color: var(--grayText);
      margin-top: 20px;
      resize: none;
      border: 2px solid var(--border);
      border-radius: 10px;

      margin-bottom: 10px;

      &:focus {
        outline: none;
      }
    }

    label {
      color: var(--white);
      font-size: rem(18);
      font-weight: $bold;
    }

    .feelings {
      margin-top: 10px;
      width: 100%;

      @extend .flexCenter;
      gap: 15px;
      flex-wrap: wrap;

      padding: 10px;
      color: var(--grayText);
      border: 2px solid var(--border);
      border-radius: 10px;

      @media (max-width: 600px) {
        gap: 5px;
      }

      .oneFeeling {
        padding: 10px;
        font-size: rem(25);
        background-color: var(--component-background);
        border-radius: 10px;
        border: 2px solid var(--border);
        transition-duration: 100ms;

        &:hover {
          transform: scale(1.1);
          cursor: pointer;
        }

        @media (max-width: 600px) {
          font-size: rem(10);
          border-radius: 5px;
          padding: 5px;
        }
      }
    }

    .oneFeelingSelected {
      color: var(--white);
      margin-top: 10px;
      font-size: rem(12);
    }

    .uploadImages {
      margin-top: 20px;
      height: 100px;
      position: relative;

      border: 3px dashed var(--grayText);
      border-radius: 10px;

      @extend .flexCenter;
      flex-direction: column;
      color: var(--grayText);
      font-size: rem(40);

      p {
        font-size: rem(17);
      }

      .uploadFiles {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100px;
        opacity: 0;
      }
    }

    .uploadedCount {
      color: var(--white);
      font-size: rem(15);
      margin-top: 10px;

      @extend .flexAlign;
      gap: 3px;
      color: var(--deleteRed);
      cursor: pointer;
    }

    .formSubmitBtn {
      margin-top: 20px;
      width: 100%;
      height: 40px;
      background-color: var(--body-background);
      border: 2px solid var(--border);
      color: var(--white);
      cursor: pointer;
    }
  }
}
